.tf-tree {
    .tf-nc {
        background-color: gold;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }

}


li {
    color: black
}


